vim/bundle/Syntastic/
vim/bundle/YouCompleteMe/
vim/bundle/bufexplorer/
vim/bundle/commentary.vim/
vim/bundle/ctrlp.vim/
vim/bundle/indentpython.vim/
vim/bundle/mru.vim/
vim/bundle/nerdTree/
vim/bundle/vim-airline/
vim/bundle/vim-coffee-script/
vim/bundle/vim-flake8/
vim/bundle/vim-fugitive/
vim/bundle/vim-nerdtree-tabs/
vim/bundle/vim-virtualenv/
vim/bundle/vim-yankstack/
vim/bundle/vimtex/
