vim/.vim/bundle/Syntastic/
vim/.vim/bundle/YouCompleteMe/
vim/.vim/bundle/bufexplorer/
vim/.vim/bundle/commentary.vim/
vim/.vim/bundle/ctrlp.vim/
vim/.vim/bundle/indentpython.vim/
vim/.vim/bundle/mru.vim/
vim/.vim/bundle/nerdTree/
vim/.vim/bundle/vim-airline/
vim/.vim/bundle/vim-coffee-script/
vim/.vim/bundle/vim-flake8/
vim/.vim/bundle/vim-fugitive/
vim/.vim/bundle/vim-nerdtree-tabs/
vim/.vim/bundle/vim-virtualenv/
vim/.vim/bundle/vim-yankstack/
vim/.vim/bundle/vimtex/
